.home_image{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.home_service{
    margin-top: 12px;
}
.service_image{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    
    border-radius: 10px;
}
.select_body{
    display: flex;
    margin-top: 28px;
}
.select_class{
    width: 25%;
    align-self: flex-start;
    padding-right: 2rem;
}
.search_btn{
    margin-right: 28px;
   
    
}
.modal_Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
}
.mandi_description{
    display: flex;
    align-items: center;
}
.mandi_description_title{
    flex-grow: 2;
}
.mandi_updated{
    align-self: flex-end;
}
/* .submit_Btn{
    margin-top: 30px;
} */

@media (max-width: 800px) {
    .home_body {
      flex-direction: column;
    }
    .home_photo_div{
        height: 100%;
    }
    .home_description{
        flex: 1;
    }
    

  }