.home_image{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.home_service{
    margin-top: 12px;
}
.service_image{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    
    border-radius: 10px;
}

@media (max-width: 800px) {
    .home_body {
      flex-direction: column;
    }
    .home_photo_div{
        height: 100%;
    }
    .home_description{
        flex: 1;
    }
    

  }